.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
/venv
pip-selfcheck.json
/api/authentication/__pycache__
/api/authentication/migrations/__pycache__
/api/authentication/migrations/*
/api/api/__pycache__
/api/model/__pycache__
/api/model/migrations/__pycache__
/api/model/migrations/*
/web_23/node_modules
/web_23/node_modules
/TrainingImage/
/Images/
*/face_data/*
/Plant_leave_diseases_dataset/